<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            name="name"
            class="form-control"
            required
            ngModel
            #nameInput="ngModel"
          />
          <span
            class="help-block"
            *ngIf="nameInput.invalid && nameInput.touched"
            >Please enter something</span
          >
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            id="amount"
            class="form-control"
            name="amount"
            required
            ngModel
            #amountInput="ngModel"
            pattern="^[1-9]+[0-9]*$"
          />
          <span
            class="help-block"
            *ngIf="amountInput.invalid && amountInput.touched"
            >Please enter a valid amount</span
          >
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            class="btn btn-success mr-5"
            type="submit"
            [disabled]="f.invalid"
          >
            {{ editMode ? "Update" : "Add" }}
          </button>
          <button
            class="btn btn-danger mr-5"
            type="button"
            (click)="onDelete()"
            *ngIf="editMode"
          >
            Delete
          </button>
          <button
            class="btn btn-primary mr-5"
            type="button"
            (click)="onClear()"
          >
            Clear
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
